[submodule "submodules/chipi-spec"]
	path = submodules/chipi-spec
	url = https://github.com/ioncodes/chipi-spec
[submodule "submodules/lilyskategc"]
	path = submodules/lilyskategc
	url = https://github.com/ioncodes/lilyskategc
[submodule "submodules/gcwii-resources"]
	path = submodules/gcwii-resources
	url = https://codeberg.org/hazelwiss/gcwii-resources
[submodule "submodules/gamecube-examples"]
	path = submodules/gamecube-examples
	url = https://github.com/devkitPro/gamecube-examples
[submodule "submodules/solstice"]
	path = submodules/solstice
	url = https://codeberg.org/hazelwiss/solstice
[submodule "submodules/beanwii"]
	path = submodules/beanwii
	url = https://github.com/zaydlang/beanwii
